.footer-spacing {
    height: 1em;
}
footer {
    margin-top: auto;
    padding: 1em 0;
    color: var(--main);
    background-color: var(--main-cont);
}

.darken {
    background-color: rgba(0, 0, 0, 0.2);
}
