# Build files/directories
# --------------------

deploy/frontend
deploy/static
deploy/backend/src/Config.php

# IDE files
# --------------------

.vscode

# Scratchpad directories (eg. #Archive, #Testing, etc.)
# --------------------

\#*
