# Sensitive files/directories
# --------------------

deploy/backend/src/Config.php

# Build files/directories
# --------------------

deploy/frontend
deploy/static

# External files/directories
# --------------------

deploy/backend/vendor

# IDE files
# --------------------

.vscode

# Scratchpad directories (eg. #Archive, #Testing, etc.)
# --------------------

\#*
