# Build files/directories
# --------------------

deploy/frontend

# IDE files
# --------------------

.vscode

# Scratchpad directories (eg. #Archive, #Testing, etc.)
# --------------------

\#*
