/* Colour Scheme
-------------------------------------------------- */

:root {
  --main: white;
  --main-cont: rgb(64, 64, 64);
}

/* General
-------------------------------------------------- */

/* Remove unwanted default margins */
p {
  margin: 0;
}

/* Set fonts */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p, a, li, th, td, legend, label, input, textarea, button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Scope One', serif;
}
pre, code {
  font-family:
    'Source Code Pro',
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
  white-space: pre-wrap;
}
