/* Colour Scheme
-------------------------------------------------- */

:root {
  /* Main Scheme */

  --main: white;
  --main-off: rgb(192, 192, 192);
  --main-cont: black;
  --main-off-cont: rgb(64, 64, 64);

  --accent-1: rgb(255, 64, 64);
  --accent-1-off: rgb(255, 172, 64);
  --accent-1-cont: white;
  --accent-1-off-cont: black;

  --accent-2: rgb(64, 64, 255);
  --accent-2-off: rgb(64, 172, 255);
  --accent-2-cont: white;
  --accent-2-off-cont: black;

  /* General */

  --h2-underline: var(--main-cont);

  --link-bg: rgba(0,0,0,0);
  --link-fg: var(--accent-2);
  --link-active-bg: rgba(0,0,0,0);
  --link-active-fg: var(--accent-2-off);

  --link-button-bg: var(--accent-1);
  --link-button-fg: var(--accent-1-cont);
  --link-button-active-bg: var(--accent-2);
  --link-button-active-fg: var(--accent-2-cont);
  --link-button-disabled-bg: rgb(96, 96, 96);
  --link-button-disabled-fg: white;

  /* Areas */

  --nav-bg: var(--main);
  --nav-underline: grey;
}

/* General
-------------------------------------------------- */

/* Set global box-sizing to 'border-box'. This makes managing element
 * sizes/padding easier. */
* {
  box-sizing: border-box;
}

/* Remove unwanted default margins */
html, body {
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}
p {
  margin-top: 0;
}

/* Set fonts */
p, a, li, th, td, legend, label, input, textarea, button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Scope One', serif;
}
pre {
  white-space: pre-wrap;
}

/* Set size/position */
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  margin: 50px 0;
  border-bottom: 1px solid ;

  font-size: 2.2em;
}
h3 { font-size: 1.8em; }
h4 { font-size: 1.3em; }

/* Default link styling */
a,
a:visited,
.link,
.link:visited {
  display: inline;
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: var(--link-bg);
  color: var(--link-fg);
  cursor: pointer;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  background-color: var(--link-active-bg);
  color: var(--link-active-fg);
}

/* Button styling (inc. button-ised elements) - aninmate inverting text and
 * background colors on hover. */
.button,
.button:visited,
button,
input[type=submit] {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;

  transition-timing-function: ease-in-out;
  transition: background-color 0.1s, color 0.1s;

  background-color: var(--link-button-bg);
  color: var(--link-button-fg);
  cursor: pointer;
}

.button:hover,
.button:focus,
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  outline: none;
  background-color: var(--link-button-active-bg);
  color: var(--link-button-active-fg);
}

.button:disabled,
button:disabled,
input[type=submit]:disabled {
  background-color: var(--link-button-disabled-bg);
  color: var(--link-button-disabled-fg);
}

/* Useful for class="block link" and class="block button" */
.block {
  display: block;
}

/* General Classes
-------------------------------------------------- */

/* These may be used by any component of the site. */

/* Multi-Column Layouts
-------------------- */

.cols {
  display: grid;
  gap: 20px;
}

/* Two-column and three-column layouts. These expand to the respective number of
* columns as the screen gets larger. */

.max-cols-2, .max-cols-3 {
  grid-template-columns: 1fr;
}
@media screen and (min-width: 600px) {
  .max-cols-2, .max-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  /* This means: max-cols-2 > (:last-child  AND  :nth-child(odd)) */
  .max-cols-2 > :last-child:nth-child(odd) {
    grid-column: 1 / span 2;
  }
}
@media screen and (min-width: 850px) {
  .max-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Expanding last/odd child doesn't really work for 3-column layouts.
   * What about a 5-element container? Expand the last two? */
}

/* Misc Classes
-------------------- */

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Core Layout
-------------------------------------------------- */

/* Set up the primary grid - one central column for content, two for padding
 * around the central column. */

.app {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

nav, header, main, footer {
  grid-column: 2;
  padding: 0 10px;
}

/* Navigation Area
-------------------------------------------------- */

/* The navigation area is a series of items. */

/* Always push items out to either end along the main axis (if there's any
* additional space), and center them along the cross-axis. */

/* On larger screens, display the nav horizontally, so place the items at either
* end of the bar, and center them vertically. */
nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-underline);
  padding: 10px 30px;
}
nav * {
  font-size: 1.05em; /* Tiny nav links are annoying. */
}

/* On larger screens, also display the navigation links horizontally. */
nav ul {
  display: flex;
  align-items: center;
  row-gap: 10px;

  /* Remove default spacing. */
  padding-left: 0;
  margin: 0;
}
nav ul > li {
  list-style: none;
}

/* On larger screens, make the navbar sticky.
 *
 * Code derived from:
 * - https://www.w3schools.com/howto/howto_css_sticky_element.asp
 *
 * Note: This is in a min-width because it's difficult to reverse. */
@media screen and (min-width: 850px) {
  nav {
    position: sticky; /* Make it stick */
    top: 0;           /* to the top of the page */
    z-index: 1;       /* and over the top of everything else. */
  }
}

/* On smaller screens, display the nav and nav links vertically. Ie. flip the
 * main and cross axes so all items display centred down the middle. */
@media screen and (max-width: 850px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
}

/* Footer Area
-------------------------------------------------- */

footer {
  margin-top: 4em;
  border-top: 1px solid grey;
  padding-top: 1em;
}
